[submodule "src/datalab"]
	path = src/datalab
	url = https://github.com/CumbyLab/datalab
	#url = https://github.com/datalab-org/datalab.git
[submodule "src/datalab-ansible-terraform"]
	path = src/datalab-ansible-terraform
	url = https://github.com/datalab-industries/datalab-ansible-terraform
